h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.8em;
}

nav {
  background-color: white;
}
nav img {
  width: 50px;
}
nav .BotonesNav ul li a:hover {
  background-color: rgb(66, 171, 52);
}
nav .BuscadorNav {
  display: flex;
}
nav .BuscadorNav .btn {
  background-color: rgb(66, 171, 52);
  border: none;
}
nav .BuscadorNav .btn:hover {
  background-color: green;
}
nav .BuscadorNav svg {
  color: white;
  margin-bottom: 4px;
}

header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
header .FondoTextoCarrusel {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  width: 400px;
  margin-left: 600px;
  margin-bottom: 150px;
}
header .FondoCarrusel p {
  background-color: rgba(0, 0, 0, 0.5);
}

.IntroduccionIndex2 {
  background-color: rgb(66, 171, 52);
  padding: 20px;
  margin: 30px;
  width: 1280px;
}
.IntroduccionIndex2 h1 {
  text-align: center;
}
.IntroduccionIndex2 p {
  text-align: center;
}

.ProductosIndex {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.ProductosIndex h2 {
  text-align: center;
}
.ProductosIndex .ProductosIndexTarjetas {
  display: flex;
}
.ProductosIndex .ProductosIndexTarjetas img {
  object-fit: cover;
  padding: 5px;
  width: 250px;
  height: 250px;
  align-self: center;
  border-radius: 10px;
}
.ProductosIndex .ProductosIndexTarjetas h3 {
  text-align: center;
}
.ProductosIndex .ProductosIndexTarjetas .card-body {
  display: flex;
  flex-direction: column;
}
.ProductosIndex .ProductosIndexTarjetas .card-body a {
  background-color: rgb(66, 171, 52);
  border: none;
}
.ProductosIndex .ProductosIndexTarjetas .card-body a:hover {
  background-color: green;
}
.ProductosIndex .ProductosIndexTarjetas .BotonTarjetas {
  justify-content: center;
}
.ProductosIndex .Boton {
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.ProductosIndex .Boton .BotonProductosIndex {
  background-color: rgb(66, 171, 52);
}
.ProductosIndex .Boton .BotonProductosIndex:hover {
  background-color: green;
}
.ProductosIndex .Boton .BotonProductosIndex a {
  text-decoration: none;
  color: white;
}

.CategoriasIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgba(0, 0, 0, 0.4) 3px;
  padding: 15px;
}
.CategoriasIndex img {
  width: 170px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(66, 171, 52);
  margin-top: 30px;
}
.CategoriasIndex a img:hover {
  background-color: green;
}

.InformacionIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.InformacionIndex img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}
.InformacionIndex .TextoNoticia1 {
  background-color: rgba(66, 171, 52, 0.5);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 5px;
}
.InformacionIndex .TextoNoticia2 {
  background-color: rgba(66, 171, 52, 0.5);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 5px;
}

footer {
  background-color: rgb(66, 171, 52);
  padding: 10px;
}
footer svg {
  width: 40px;
  height: 40px;
  fill: white;
  margin-right: 10px;
}

/* TERMINA FOOTER */
@media (max-width: 576px) {
  .HeaderIndex img {
    height: 250px;
  }
  .IntroduccionIndex {
    display: flex;
    justify-content: center;
    margin-left: 1px;
  }
  .ProductosIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ProductosIndex .ProductosIndexTarjetas {
    margin-top: 5px;
  }
  .CategoriasIndex {
    display: flex;
    justify-self: center;
  }
  .CategoriasIndex div {
    margin-left: 15px;
  }
  .CategoriasIndex img {
    width: 80px;
  }
  .InformacionIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .InformacionIndex .NoticiaUno img {
    width: 300px;
    height: 200px;
  }
  .InformacionIndex .NoticiaUno .TextoNoticia1 {
    width: 200px;
    height: 100px;
  }
  .InformacionIndex .NoticiaUno .TextoNoticia1 p {
    overflow: hidden;
  }
  .InformacionIndex .NoticiaDos {
    margin-top: 5px;
  }
  .InformacionIndex .NoticiaDos img {
    width: 300px;
    height: 200px;
  }
  .InformacionIndex .NoticiaDos .TextoNoticia2 {
    width: 200px;
    height: 100px;
  }
  .InformacionIndex .NoticiaDos .TextoNoticia2 p {
    overflow: hidden;
  }
}

/*# sourceMappingURL=main.css.map */
