@charset "UTF-8";
body {
  background-image: url(../Imagenes/fondo/90738375-textura-blanca-con-efecto-de-craquelado-escayola-decorativa-decoración-de-la-pared-interior.webp);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.8em;
}

nav {
  background-color: white;
}
nav img {
  width: 50px;
}
nav .BotonesNav ul li a:hover {
  background-color: rgb(66, 171, 52);
}
nav .BuscadorNav {
  display: flex;
}
nav .BuscadorNav .btn {
  background-color: rgb(66, 171, 52);
  border: none;
}
nav .BuscadorNav .btn:hover {
  background-color: green;
}
nav .BuscadorNav svg {
  color: white;
  margin-bottom: 4px;
}

header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
header .FondoTextoCarrusel {
  background-color: rgba(0, 0, 0, 0.5);
  height: 150px;
  width: 400px;
  margin-left: 600px;
  margin-bottom: 150px;
}
header .FondoCarrusel p {
  background-color: rgba(0, 0, 0, 0.5);
}

.IntroduccionIndex2 {
  background-color: rgb(66, 171, 52);
  padding: 20px;
  margin: 30px;
  width: 1280px;
}
.IntroduccionIndex2 h1 {
  text-align: center;
}
.IntroduccionIndex2 p {
  text-align: center;
}

.ProductosIndex {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.ProductosIndex h2 {
  text-align: center;
}
.ProductosIndex .ProductosIndexTarjetas {
  display: flex;
}
.ProductosIndex .ProductosIndexTarjetas img {
  object-fit: cover;
  padding: 5px;
  width: 250px;
  height: 250px;
  align-self: center;
  border-radius: 10px;
}
.ProductosIndex .ProductosIndexTarjetas h3 {
  text-align: center;
}
.ProductosIndex .ProductosIndexTarjetas .card-body {
  display: flex;
  flex-direction: column;
}
.ProductosIndex .ProductosIndexTarjetas .card-body a {
  background-color: rgb(66, 171, 52);
  border: none;
}
.ProductosIndex .ProductosIndexTarjetas .card-body a:hover {
  background-color: green;
}
.ProductosIndex .ProductosIndexTarjetas .BotonTarjetas {
  justify-content: center;
}
.ProductosIndex .Boton {
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.ProductosIndex .Boton .BotonProductosIndex {
  background-color: rgb(66, 171, 52);
}
.ProductosIndex .Boton .BotonProductosIndex:hover {
  background-color: green;
}
.ProductosIndex .Boton .BotonProductosIndex a {
  text-decoration: none;
  color: white;
}

.CategoriasIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgba(0, 0, 0, 0.4) 3px;
  padding: 15px;
}
.CategoriasIndex img {
  width: 170px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(66, 171, 52);
  margin-top: 30px;
}
.CategoriasIndex a img:hover {
  background-color: green;
}

.InformacionIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.InformacionIndex img {
  width: 600px;
  height: 300px;
  object-fit: cover;
}
.InformacionIndex .TextoNoticia1 {
  background-color: rgba(66, 171, 52, 0.5);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 5px;
}
.InformacionIndex .TextoNoticia2 {
  background-color: rgba(66, 171, 52, 0.5);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  padding: 5px;
}

footer {
  background-color: rgb(66, 171, 52);
  padding: 10px;
}
footer svg {
  width: 40px;
  height: 40px;
  fill: white;
  margin-right: 10px;
}

/* TERMINA FOOTER */
.desplegableProductos {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 20px;
}
.desplegableProductos .dropdown {
  margin-right: 10px;
}
.desplegableProductos .btn {
  background-color: rgb(66, 171, 52);
  border: none;
}
.desplegableProductos .btn:hover {
  background-color: green;
}

.filtrosProductos {
  width: 230px;
  padding: 5px;
}
.filtrosProductos .DivPadre {
  width: 250px;
}
.filtrosProductos .accordion-button {
  background-color: rgb(66, 171, 52);
  border: none;
  color: white;
}
.filtrosProductos .accordion-button:hover {
  background-color: green;
}
.filtrosProductos .accordion-body {
  width: 230px;
}
.filtrosProductos .accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.filtrosProductos .list-group {
  width: 180px;
  display: flex;
  align-self: self-start;
  margin-left: -48px;
}

.productos .productosDestacados {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
}
.productos .productosDestacados .destacado1 {
  width: 500px;
}
.productos .productosDestacados .destacado2 {
  width: 500px;
}
.productos .productosDestacados .destacado2 img {
  object-fit: cover;
  width: 185px;
}
.productos .productosGeneral {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 50px;
}
.productos .productosGeneral figure {
  padding: 7px;
}
.productos .productosGeneral figure img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  align-self: center;
  border-radius: 8px;
  padding: 3px;
}
.productos .productosGeneral figure .card-body {
  width: 200px;
  align-self: center;
}
.productos .productosGeneral figure .btn {
  display: flex;
  justify-content: center;
  background-color: rgb(66, 171, 52);
  color: white;
  border: none;
}
.productos .productosGeneral figure .btn:hover {
  background-color: green;
}

.IntroduccionCuidados {
  background-color: rgb(66, 171, 52);
  padding: 20px;
  margin: 30px;
  width: 1280px;
}
.IntroduccionCuidados h1 {
  text-align: center;
}
.IntroduccionCuidados p {
  text-align: center;
}

.DesplegableCuidados .accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.DesplegableCuidados button {
  padding: 50px;
  width: 500px;
}
.DesplegableCuidados button img {
  width: 40px;
  margin-left: 30px;
}
.DesplegableCuidados .accordion-body {
  text-align: center;
  justify-content: space-around;
}

.NosotrosIntro {
  background-color: rgb(66, 171, 52);
  width: 1280px;
  padding: 20px;
  margin: 30px;
}
.NosotrosIntro h1 {
  text-align: center;
}
.NosotrosIntro p {
  text-align: center;
}

.NuestraInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NuestraInfo figure {
  display: flex;
  padding: 20px;
}
.NuestraInfo figure .card .Nosotros1 {
  width: 900px;
}
.NuestraInfo figure .card .Nosotros1 img {
  width: 200px;
  border-radius: 50%;
}
.NuestraInfo figure .card .Nosotros2 {
  display: flex;
  flex-direction: row-reverse;
  width: 900px;
  border-radius: 50%;
}
.NuestraInfo figure .card .Nosotros2 img {
  width: 200px;
  border-radius: 50%;
}
.NuestraInfo figure .card .Nosotros3 {
  width: 900px;
}
.NuestraInfo figure .card .Nosotros3 img {
  width: 200px;
  border-radius: 50%;
}
.NuestraInfo figure .card .Nosotros4 {
  display: flex;
  flex-direction: row-reverse;
  width: 900px;
  border-radius: 50%;
}
.NuestraInfo figure .card .Nosotros4 img {
  width: 200px;
  border-radius: 50%;
}

.DatosContacto {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DatosContacto .DatosUsuario {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 650px;
}
.DatosContacto .DatosUsuario button {
  background-color: rgb(66, 171, 52);
  border: none;
}
.DatosContacto .DatosUsuario button:hover {
  background-color: green;
}
.DatosContacto .DatosUsuario .Mensaje {
  width: 600px;
  height: 150px;
}

.mainProductos {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 20px auto;
  gap: 2px;
  grid-template-areas: "filtros desplegable desplegable desplegable desplegable desplegable" "filtros desplegable desplegable desplegable desplegable desplegable" "filtros destacado1 destacado1 destacado2 destacado2 ." "filtros producto1  producto2  producto3 producto4 producto5";
}
.mainProductos .desplegableProductos {
  grid-area: desplegable;
}
.mainProductos .filtrosProductos {
  grid-area: filtros;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.mainProductos .destacado1 {
  grid-area: destacado1;
}
.mainProductos .destacado2 {
  grid-area: destacado2;
}
.mainProductos .producto1 {
  grid-area: producto1;
}
.mainProductos .producto2 {
  grid-area: producto2;
}
.mainProductos .producto3 {
  grid-area: producto3;
}
.mainProductos .Producto4 {
  grid-area: producto4;
}
.mainProductos .producto5 {
  grid-area: producto5;
}

@media (max-width: 576px) {
  .HeaderIndex img {
    height: 250px;
  }
  .IntroduccionIndex {
    display: flex;
    justify-content: center;
    margin-left: 1px;
  }
  .ProductosIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ProductosIndex .ProductosIndexTarjetas {
    margin-top: 5px;
  }
  .CategoriasIndex {
    display: flex;
    justify-self: center;
  }
  .CategoriasIndex div {
    margin-left: 15px;
  }
  .CategoriasIndex img {
    width: 80px;
  }
  .InformacionIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .InformacionIndex .NoticiaUno img {
    width: 300px;
    height: 200px;
  }
  .InformacionIndex .NoticiaUno .TextoNoticia1 {
    width: 200px;
    height: 100px;
  }
  .InformacionIndex .NoticiaUno .TextoNoticia1 p {
    overflow: hidden;
  }
  .InformacionIndex .NoticiaDos {
    margin-top: 5px;
  }
  .InformacionIndex .NoticiaDos img {
    width: 300px;
    height: 200px;
  }
  .InformacionIndex .NoticiaDos .TextoNoticia2 {
    width: 200px;
    height: 100px;
  }
  .InformacionIndex .NoticiaDos .TextoNoticia2 p {
    overflow: hidden;
  }
}
@media (max-width: 320px) {
  .mainProductos {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 2px;
    grid-template-areas: "filtros desplegable" "destacado1 destacado1" "destacado2 destacado2" "producto1 producto1" "producto2 producto2" "producto3 producto3";
  }
  .mainProductos .desplegableProductos {
    grid-area: desplegable;
  }
  .mainProductos .filtrosProductos {
    grid-area: filtros;
  }
  .mainProductos .destacado1 {
    grid-area: destacado1;
  }
  .mainProductos .destacado2 {
    grid-area: destacado2;
  }
  .mainProductos .producto1 {
    grid-area: producto1;
  }
  .mainProductos .producto2 {
    grid-area: producto2;
  }
  .mainProductos .producto3 {
    grid-area: producto3;
  }
  .mainProductos .producto4 {
    grid-area: producto4;
  }
  .mainProductos .producto5 {
    grid-area: producto5;
  }
  .filtrosProductos {
    width: 50px;
    padding: 2px;
  }
  .filtrosProductos .divPadre {
    width: 140px;
  }
  .filtrosProductos .accordion-body {
    width: 140px;
    padding: 3px;
  }
  .filtrosProductos .list-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    font-size: 0.6rem;
  }
  .filtrosProductos .list-group .Ruptura1 {
    width: 70px;
  }
  .productos {
    display: flex;
    flex-direction: column;
  }
  .productos .productosDestacados {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .productos .productosDestacados .destacado1 {
    width: 300px;
    margin-left: -36px;
  }
  .productos .productosDestacados .destacado2 {
    width: 300px;
    margin-left: -36px;
  }
  .productosGeneral {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .producto1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .producto2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.IntroduccionCuidados {
  display: flex;
  align-items: center;
  width: 260px;
  padding: 3px;
}

.DesplegableCuidados {
  display: flex;
  align-items: center;
  width: 250px;
}
.DesplegableCuidados .accordion {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.DesplegableCuidados .accordion-item {
  padding: 5px;
}
.DesplegableCuidados .BotonDesplegable {
  width: 300px;
}

.IntroduccionNosotros {
  display: flex;
  align-items: center;
  width: 310px;
  padding: 3px;
}
.IntroduccionNosotros h1 {
  text-align: center;
}
.IntroduccionNosotros p {
  text-align: center;
}
.IntroduccionNosotros .NuestraInfo {
  display: flex;
  flex-direction: column;
}
.IntroduccionNosotros .NuestraInfo figure .card {
  background-color: aqua;
}
.IntroduccionNosotros .NuestraInfo figure .card .Nosotros1 {
  display: flex;
  flex-direction: column;
}
.IntroduccionNosotros .NuestraInfo figure .card .Nosotros1 .col-md-8 .card-body {
  background-color: aqua;
}

/*# sourceMappingURL=main.css.map */
