//Todo lo general del proyecto.
body{
    background-image: url(../Imagenes/fondo/90738375-textura-blanca-con-efecto-de-craquelado-escayola-decorativa-decoración-de-la-pared-interior.webp);
}

h1{
    font-size: $textXl;
}

h2{
    font-size: $textMd;
}

h3{
    font-size: $textSm;
}

