// GRIDS PRODUCTOS
.mainProductos{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: 20px auto;
    gap: 2px;
    grid-template-areas: 
    "filtros desplegable desplegable desplegable desplegable desplegable"
    "filtros desplegable desplegable desplegable desplegable desplegable"
    "filtros destacado1 destacado1 destacado2 destacado2 ."
    "filtros producto1  producto2  producto3 producto4 producto5"
    ;

    .desplegableProductos{
        grid-area: desplegable;
    }
    .filtrosProductos{
        grid-area: filtros;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .destacado1{
        grid-area: destacado1;
    }
    .destacado2{
        grid-area: destacado2;
    }
    .producto1{
        grid-area: producto1;
    }
    .producto2{
        grid-area: producto2;
    }
    .producto3{
        grid-area: producto3;
    }
    .Producto4{
        grid-area: producto4;
    }
    .producto5{
        grid-area: producto5;
    }
    
}
// GRIDS PRODUCTOS