nav{
    background-color: white;
    img{
        width: 50px;
    }
    .BotonesNav{
        ul{
            li{
                a{
                    &:hover{
                        background-color: $mainColor;
                    }
                }
            }
        }
    }
    .BuscadorNav{
        display: flex;
        .btn{
            background-color: $mainColor;
            border: none;
            &:hover{
                background-color: green;
            }
        }
        svg{
            color: white;
            margin-bottom: 4px;
        }
    }
}



